.pagination {
  margin: auto;
  padding-top: 32px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 580px) {
    padding-top: 40px;
  }

  &__bar {
    margin-bottom: 16px;
    height: 6px;
    width: 100%;
    background-color: #EEEFF2;
    border-radius: 3px;

    &::after {
      content: '';
      display: block;
      background-color: #780096;
      height: 100%;
      width: var(--width);
      border-radius: 3px;
      transition: width 0.36s ease-in-out;
    }
  }

  &__controls {
    display: flex;
    gap: 8px;
  }

  &__prev,
  &__next {
    width: 16px;
    height: 16px;
  }

  &__info {
    font-size: 12px;
    font-weight: 400;
  }

  // &__info-current {
  // }

  // &__info-total {
  // }
}