html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.container {
  max-width: calc(1300px - 22px * 2);
  margin: 0 auto;
  padding: 0 22px;
}




.catalog__item {
  display: inline-block;
}



.card__item-image {
  display: block;
  max-width: 100%;
  height: auto;

  border-radius: 16px;
}




.slide__button {
  border-radius: 32px;
}


footer {
  background: #1C1C1C;
  color: #fff;
}